@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome, Come see all the fun!</h1>
    <p class="lead">We are a company that you will be able to rely on. I promise you that everyone that we compete with are a garbage company. We like to take the trash out.</p>
    <p><img src="https://imgix.ranker.com/user_node_img/50051/1001008168/original/garbage-men-and-women-find-a-lot-of-drugs-photo-u1?w=650&q=50&fm=jpg&fit=crop&crop=faces" alt="Garbage Men"> </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to get started</h2>
        <p>To get started sign up as a client. Schudle your first pick up. And that's it. very quick and easy!</p>
        <p><a class="btn btn-default" href="http://www.dispatch.com/article/20160426/NEWS/304269795">Learn more about trash pickups &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About our company</h2>
        <p>The Gabage Bros is a newly founded company based on fun, excitment, and getting the job done. We like to be like a family to each and every employee and client we have. We plan on sticking around for a while. SO get to know us. We are open 7 days a week 24 hours a day. Sign up now.</p>
        <p><a class="btn btn-default" href="https://www.google.com/search?safe=off&rlz=1C1CHZL_enUS756US756&q=define+24+7&oq=define+24+7&gs_l=psy-ab.3..0i22i30k1l4.2377.6199.0.6490.12.12.0.0.0.0.297.1310.0j7j1.8.0....0...1.1.64.psy-ab..4.8.1306.6..0j35i39k1j0i67k1j0i20k1j0i131k1.PJSL94daiHw">24/7 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work for us</h2>
        <p>Working for us. We have great benifits happy employees and and flexiable hours. Just sign up and mark employee to work for our company.</p>
        <p><a class="btn btn-default" href="https://www.indeed.com/forum/cmp/Waste-Management/get-job-at-Waste-Management/t9284">Getting a job as a garbage man &raquo;</a></p>
    </div>
</div>