@model List<TrashProject.Models.Address>

<!DOCTYPE html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

    

@using (Html.BeginForm())
{
    foreach (var i in Model)
    {
       
        <table>
            <tr>
                <th>
                    Address:
                </th>
                <th>
                    Pick Ups:
                </th>
                <th>
                    How much you owe:
                </th>
            </tr>
            <tr>
                <td>
                    @i.HomeAddress
                </td>
                <td>
                    @i.HowManyPickUps
                </td>
                <td>
                   @(int.Parse(i.HowManyPickUps) * 30)
                </td>
            </tr>
        </table>

    }



    <footer>
        1 pickup = 30 dollars
        2 pickups = 60 dollars
        3 pickups = 90 dollars
        ect.
        
    </footer>


}
